* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {

    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EEE5DA;

}

/* main navbar */

nav{

  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
  border-radius: 0%;
  width: 100%;
  z-index: 1; 
  border-bottom: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);

}

.links-container{

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
  width: 300px;
  transition: 0.75s ease-out;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

}

nav a{

  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 20px 30px;
  justify-content: flex-start;

}

nav a:hover{

  background-color: blue;

}

nav .home-link{

  margin-right: auto;

}

nav svg{

  fill: #536878;

}

#sidebar-active{

  display: none;

}

.open-sidebar-button, .close-sidebar-button{

  padding: 20px;
  display: block;

}

#sidebar-active:checked ~ .links-container{

  right: -60px;

}

#sidebar-active:checked ~ #overlay{

  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

}

/* navbar for mobile */

@media(max-width: 450px){

.links-container{

  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
  width: 300px;
  transition: 0.75s ease-out;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

}

nav a{

  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 20px 30px;
  justify-content: flex-start;

}

.open-sidebar-button, .close-sidebar-button{

  padding: 20px;
  display: block;

}

#sidebar-active:checked ~ .links-container{

  right: -175px;
  
}

#sidebar-active:checked ~ #overlay{

  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  
}
}

/* body */

.border-1 {

    height: 60px;
    background-color: #EAE0C6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .8rem;
    position: fixed;
    border-radius: 0%;
    width: 100%;
    z-index: 1; 

}

.border-1 span {

    font-size: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    color: #536878;

}

.border-1 span .text-1 {

  font-size: 20.5px;
  
}

.border-2 {

  border: 2px solid transparent;
  background: #EAE0C6;
  height: 400px;
  padding: .8rem;
  /* background-image: url("IMG/noircozy_7340015666327604513.jpeg"); */
  /* background-size: 100% 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  

}

.border-2 h1 {

  margin-top: 110px;
  color: #536878;

}

.border-2 p {

  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
  color: #7288a2;

}

.border-2 .button-1 {

  width: 100px;
  height: 30px;
  outline: none;
  background-color: #201020;
  border-radius: 15px;
  border: none;
  color: #EAE0C6;
  margin-left: 5px;
  margin-top: 20px;
  font-weight: bolder;
  letter-spacing: 1.5px;

}

.border-3 {

  border: 5px solid red;
  background: linear-gradient(#EAE0C6 50%,#EEE5DA 50%);
  width: 95%;
  height: 70px;
  position: absolute;
  translate: -50% -50%;
  left: 50%;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .8rem;
  gap: 5px;

}

.border-3 .select {

  border: 2px solid black;
  width: 100px;
  height: 25px;

}

.select .select-img {
  
  border: 2px solid black;
  width: 20px;

}

/* image slider */

.image-slider-border {
  background-color: #EEE5DA;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
}



.text-2 {

  border: 2px solid transparent;
  width: 50%;
  height: 160px;
  padding: 1rem;

}

.text-2 h4 {

  font-size: 17.2px;
  letter-spacing: .5px;
  margin-top: 20px;

}

.text-2 p {

  margin-top: 10px;
  font-size: 10px;
  font-size: 500;

}

.image-slider {
  border: 4px solid transparent;
  width: 50%;
  height: 200px;
  border-radius: 5%;
  position: relative;
  overflow: hidden;
}

.image-slider figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  animation: fade 20s infinite;
  opacity: 0;
}

/* Add image URLs here */

.image-slider figure:nth-child(1) { 
  background-image: url(IMG/img1.jpg);
  animation-delay: 0s;
}
.image-slider figure:nth-child(2) { 
  background-image: url(IMG/img2.jpg);
  animation-delay: -4s;
}
.image-slider figure:nth-child(3) { 
  background-image: url(IMG/img3.jpg);
  animation-delay: -8s;
}
.image-slider figure:nth-child(4) { 
  background-image: url(IMG/img4.jpg);
  animation-delay: -12s;
}
.image-slider figure:nth-child(5) { 
  background-image: url(IMG/img5.jpg);
  animation-delay: -16s;
}

@keyframes fade {
  0% { opacity: 0; }
  5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
  100% { opacity: 0; }
}

/* HOME ACCUMULATED VALUES */

.border-6 {

  border: 2px solid transparent;
  background-color: #EAE0C6;
  border-radius: 20px;
  box-shadow: 6px 10px 20px 7px rgba(0, 0, 0, 0.443);
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  
}

.border-6-1 {

  border: 2px solid transparent;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
}

.border-6-1 h1 {

  display: block;
  position: absolute;
  translate: 0 -85%;
  margin-top: 10px;

}

.border-6-1 h3 {

  font-size: 13px;
  margin-bottom: -20px;

} 

.border-7 {

  border: 2px solid transparent;
  background-color: #EEE5DA;
  height: 200px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-top: 30px;
}


.border-7 h1, p {
  position: relative;
}


.border-7 p {

  margin-top: 15px;
  color: #2c363e;
  font-weight: 600;


}

.border-7 h1 {

  margin-top: 20px;
  color: #536878;


}


.border-7 .img-1 {

  width: 200px;
  position:relative;
  translate: 92% -52%;
  transform: rotateZ(30deg);
  opacity: 0.3;

}

.border-7 .img-2 {

  width: 170px;
  position:relative;
  translate: -128% -90%;
  transform: rotateY(180deg);
  transform: scaleX(-1);
  rotate: -20deg;
  opacity: 0.3;

}


/* Property selection */

 .property-grid {

  border: 5px solid red;
  background-color: #EEE5DA;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;


}

.property-card {

  border: 2px solid black;
  width: 170px;
  height: 270px;
  border-radius: 8px;
  text-align: start;
  transition: transform 0.2s;
  
}

.property-card:hover {

  transform: translateY(-5px);

}

.property-image {

  border: 2px solid black;
  width: 100%;
  height: 150px;

}

.property-card .property-image-2-border {

  border: 2px solid black;
  height: 50px;
  display: block;
  margin-top: 4px;

}

.property-image2 {

  border: 2px solid black;
  width: 20px;
  margin-left: 20px;

}

.property-card h4 {

  position: relative;
  font-size: 14px;
  margin-left: 40px;
  margin-top: -25px;

}

.property-card p {

  margin-top: 5px;
  margin: 5px 6px -10px;
  padding: .4rem;

}


.border-8 {

  text-align: center;
  color: black;
  margin-top: 10px;

}


/* F.A.Q */


.container {

  border: 2px solid transparent;
  background-color: #EEE5DA;
  margin-top: 30px;
  color: #252424;

}

.container h2 {

  text-align: center;
  margin-bottom: 10px;

}

.accordion-title {

  font-size: 15px;

}

.accordion .accordion-item {

  border-bottom: 1px solid #e5e5e5;

}

.accordion .accordion-item button[aria-expanded=true] {

  border-bottom: 1px solid #03b5d2;

}

.accordion button {

  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: .8rem ;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  overflow: hidden;

}

.accordion button:hover, .accordion button:focus {

  cursor: pointer;
  color: #03b5d2;

}

.accordion button:hover::after, .accordion button:focus::after {

  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;

}

.accordion button .accordion-title {

  padding: 1em 1.5em 1em 0;

}

.accordion button .icon {

  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;

}

.accordion button .icon::before {

  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;

}

.accordion button .icon::after {

  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;

}

.accordion button[aria-expanded=true] {

  color: #03b5d2;

}

.accordion button[aria-expanded=true] .icon::after {

  width: 0;

}

.accordion button[aria-expanded=true] + .accordion-content {

  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;

}

.accordion .accordion-content {

  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;

}

.accordion .accordion-content p {

  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;

}


/* Footer */

footer {

  background-color: blueviolet;
  display: flex;
  justify-content: center;
  min-height: 300px;
  z-index: 1;
  
}

.border-9 {

  border: 2px solid black;
  width: 180.5px;
  height: 60px;
  letter-spacing: 3px;
  position: absolute;
  left: 2%;
  margin-top: 10px;

}

.border-9 h1 {

  font-size: 12.5px;

}

.border-9 .text-3 {
  color: #FFDB58;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.text-4 {
  margin-top: 85px;
  position: absolute;
}

.icons {
  display: inline-flex;
  list-style: none;
  border: 2px solid whitesmoke;
  background-color: transparent;
  height: 60px;
  margin-top: 120px;

}

.icons .icon {
  position: relative;
  background: transparent;
  border-radius: 50%;
  padding: 15px;
  margin: 5px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.icon img {
  width: 50px;
  height: 50px;
}

.icons .icon-up {
  position: absolute;
  top: 0;
  font-size: 14px;
  font-weight: 600;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icons .icon-up::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icons .icon:hover .icon-up {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icons .icon:hover span,
.icons .icon:hover .icon-up {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.icons .tiktok:hover,
.icons .tiktok:hover .icon-up,
.icons .tiktok:hover .icon-up::before {
  background: linear-gradient(135deg, #69C9D0, #EE1D52);
  color: #ffffff;
}



.icons .instagram:hover,
.icons .instagram:hover .icon-up,
.icons .instagram:hover .icon-up::before {
  background: radial-gradient(circle at 30% 107%, #FDF497 0%, #FDF497 5%, #FD5949 45%, #D6249F 60%, #285AEB 90%);
  color: #ffffff;
}

.icons .youtube:hover,
.icons .youtube:hover .icon-up,
.icons .youtube:hover .icon-up::before {
  background: linear-gradient(135deg, #FF0000, #CC0000, #8B0000);
  color: #ffffff;
}

.icons .facebook:hover,
.icons .facebook:hover .icon-up,
.icons .facebook:hover .icon-up::before {
  background: linear-gradient(135deg, #1877F2, #4267B2, #1C2B4F);
  color: #ffffff;
}








/* Desktop Version */
@media screen and (min-width: 576px) {

  .border-1 span .t1 {

    font-size: 20px;
  
  }

  .border-1 span {

    letter-spacing: 6px;

  }

  .border-4 {

    height: 480px;
  
  }

  .border-5 {

    display: flex;
    justify-content: space-evenly;
    height: 300px;

  }

  .border-5-1 {

    width: 300px;
    height: 290px;
    position: absolute;
    left: 8%;
    border-radius: 20%;
  }

  .border-5-2 {

    width: 300px;
    height: 250px;
    position: absolute;
    right: 10%;
    border-radius: 5%;

  }

  .border-5-2 h4 {

    font-size: 28.9px;
    letter-spacing: 2px;

  }

  .border-5-2 p {

    font-size: 15px;
    letter-spacing: 1px;

  }

}